.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #1e1b4b;
  color: white;
  padding: 30px 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #4e46e5f6;
}
