.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.navbar input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
  color: #4f46e5;
}